
@model IEnumerable<Car_Rental_Web.Models.RentalViewModel>
@{
    Layout = "~/Views/Shared/RentalLayout.cshtml";
} 
<div class="row">
    <h1>  </h1>
    <div class="col-md-4">
        @using (Html.BeginForm("Save", "rent", FormMethod.Post, new { id = "popupform" }))
        {
            <div>
                <h1>Car Rental</h1>
            </div>
            <div class="form-group">
                <label class="col-form-label">Car No: </label>
                <select class="form-control" id="carid" name="carid" placeholder="Car No" required>
                    <option>Please Select</option>
                </select>
            </div>

            <div class="form-group">
                <label class="col-form-label">Customer Id: </label>
                <input type="text" id="custid" name="custid" class="form-control" placeholder="Customer Id" required />
            </div>

            <div class="form-group">
                <label class="col-form-label">Customer Name: </label>
                <input type="text" id="custname" name="custname" class="form-control" placeholder="Customer Name" required />
            </div>

            <div class="form-group">
                <label class="col-form-label">Fees: </label>
                <input type="text" id="fee" name="fee" class="form-control" placeholder="Rental Fees" required />
            </div>

            <div class="form-group">
                <label class="col-form-label">Start Date:</label>
                <input type="date" id="sdate" name="sdate" class="form-control" placeholder="Start Date" required />
            </div>

            <div class="form-group">
                <label class="col-form-label">End Date:</label>
                <input type="date" id="edate" name="edate" class="form-control" placeholder="End Date" required />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        }
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <table class="table table-bordered table-active table-hover"  style="margin-top:50px;padding-left:200px">
            <tr>
                <th>Car No</th>
                <th>Customer Id</th>
                <th>Fees</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Available</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr style="color:white">
                    <td>@item.carid</td>
                    <td>@item.custid</td>
                    <td>@item.fee</td>
                    <td>@item.sdate</td>
                    <td>@item.edate</td>
                    <td>@item.Available</td>
                </tr>
            }



        </table>

    </div>

</div>


@section scripts
{
    <script src="~/JS/js/jquery-3.3.1.min.js"></script>
    <script>
        getCar();
        load();

        function load() {
            $("#custid").attr("disabled", "disabled");
            $("#custname").attr("disabled", "disabled");
            $("#fees").attr("disabled", "disabled");
            $("#sdate").attr("disabled", "disabled");
            $("#edate").attr("disabled", "disabled");
        }


        function getCar() {
            $.ajax({
                type: 'GET',
                url: 'GetCar',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data)
                    for (var i = 0; i < data.length; i++) {
                        $("#carid").append($("<option/>", {
                            text: data[i].carNo
                        }));
                    }
                }
            });

        }


        $("#carid").change(function () {
            available();

        });

        function available() {

            $.ajax({
                type: 'POST',
                url: 'Getval?carno=' + $("#carid").val(),
                dataType: 'JSON',
                success: function (data) {
                    console.log(data)
                    var avail = data;

                    if (avail == "Yes" || avail == "yes") {
                        $("#custid").removeAttr("disabled");
                        $("#custname").removeAttr("disabled");
                        $("#fees").removeAttr("disabled");
                        $("#sdate").removeAttr("disabled");
                        $("#edate").removeAttr("disabled");
                    }
                    else {
                        $("#custid").attr("disabled", "disabled");
                        $("#custname").attr("disabled", "disabled");
                        $("#fees").attr("disabled", "disabled");
                        $("#sdate").attr("disabled", "disabled");
                        $("#edate").attr("disabled", "disabled");
                    }
                }
            });

        }


        getcustomer();

        function getcustomer() {

            $("#custid").keyup(function (e) {
                $.ajax({
                    type: 'POST',
                    url: 'Getid?id=' + $("#custid").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data)
                        $("#custname").val(data)
                    }
                });
            });
        }



    </script>
}