@model Car_Rental_Web.Models.DB.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h2 style="color:white">Details</h2>
    <h4 style="color:white">customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

    </dl>
<p class="btn btn-outline-success">
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustId })
</p>
